body{
    margin-bottom: 50px;
}
.title{
    display: flex;
    margin-left: 10%;
    margin-right: 15%;
    justify-content: space-between;
}
.title h1 {
    display: inline;
    margin-bottom: -5px ;
    font-size: 20px;
}
.sales-card{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
    height: 110px;
    display: flex;
    align-items: center;
}
.sales-card-title{
    font-size: 15px;
    color: gray;
}
.sales-card-img{
    height: 80px;
    width: 70px;
    margin-right: 20px;
}
.sales-card-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cost{
    margin-top: -30px;
    display: flex;
    align-items: center;
}
.sales-card h1{
    margin: 5px 0;
}
.sales-card-review {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}
.new-cost{
    margin-left: 30px;
    font-size: 30px;
    margin-top: 23px;
    font-weight: bold;
}
.old-cost{
    color: gray;
    text-decoration: line-through;
}